<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p style="text-transform: capitalize;">Hi <%= content.name %>,</p>
        <p>Your <a href="<%= process.env.CLIENT_URL %>"><span style="text-transform: uppercase; font-weight: bold"><%= process.env.FRIENDLY_APP_NAME %></span></a> password has been changed successfully</p>
    </body>
</html>