<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p style="text-transform: capitalize;">Hi <%= content.user.name %>,</p>
        <p>Welcome to your new <a href="<%= process.env.CLIENT_URL %>"><span style="text-transform: uppercase; font-weight: bold"><%= process.env.FRIENDLY_APP_NAME %></span></a> account.</p>
        <p>Please verify your email by clicking this link: <a href="<%= content.validationUrl %>">Get Started</a></p>
    </body>
</html>