<%- include("partials/header") -%>
  <header class="md:col-span-1 md:flex md:justify-end">
    <%- include("partials/navbar") -%>
  </header>
  <main class="md:col-span-5 herosection">
    <div class="hero-overlay bg-opacity-80"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
        <p class="mb-5">
          Welcome to <%= appSettings.name %>, your one stop inventory management
            system for your kitchen, pantry, fridge, and anywhere you store your
            food.
        </p>
        <a href="/signup" class="btn btn-primary" type="button">
          Get Started
        </a>
      </div>
    </div>
  </main>

  <%- include("partials/footer") -%>