<%- include("partials/header") -%>
  <header class="md:col-span-1 md:flex md:justify-end">
    <%- include("partials/navbar") -%>
  </header>
  <main class="md:col-span-5 herosection">
    <div class="hero-overlay bg-opacity-80"></div>
    <div class="text-center text-neutral-content">
      <h1 class="mb-5 text-5xl font-bold">Welcome to your new <span class="capitalize font-semibold"><%= appSettings.name %></span> account</h1>
      <p>To get started, the first thing you need to add is at least one storage location.</p>
    </div>
  </main>

  <%- include("partials/footer") -%>